<div id="create_member_modal">
    <%= simple_form_for @member, :url => create_members_and_dg_path(@dg), :method => :post do |f| %>
        <div class="row">
            <div class="col s3"> 
                <%= f.input :name %>
            </div>
            <div class="col s3"> 
                <%= f.input :year %>
            </div>
            <div class="col s3"> 
                <%= f.label :gender %><br><br>
                <%= f.collection_radio_buttons :gender, [["Male", "Male"] ,["Female", "Female"]], :first, :last, label: true  %>
            </div>
            <div class="col s3"> 
                <%= f.input :cellGroup_id, label: 'Cell group', collection: @cell_groups %>
            </div>
        </div>
        <div class="row">
            <%= f.input :is_active, :as => :hidden, :input_html => { :value => true } %>
            <%= f.input :is_leader, :as => :hidden, :input_html => { :value => false } %>
            <div class="col s4 offset-s8"> 
                <%= f.button :submit %>
            </div>
        </div>
    <% end %>
</div>