<div class="row">
    <h2 class="col s6">large group <%=@large_group.session_number%></h2>
    <i class="add right medium material-icons"><%= link_to('shuffle', shuffle_path) %></i>
    <br><br>
</div>

<% @discussion_groups.each do |dg| %>
    <table class="highlight">
        <thead>
            <tr>
                <th colspan="3"><h3><%= dg.name %>'s Discussion Group</h3></th>
            </tr>
        </thead>
        <tbody>
            <!-- Leader's row -->
            <tr>
                <td><%= link_to dg.leader.name, member_path(dg.leader) %></td>
                <td><%= link_to dg.leader.cellGroup.name, cell_group_path(dg.leader.cellGroup) %></td>
                <td><%= dg.leader.truncate_gender %></td>
            </tr>
            <!-- Members' row -->
            <% MemberDg.where.not(member: dg.leader).select{|m| m.discussionGroup == dg}.each do |mdg| %>
                <tr>
                    <td><%= link_to mdg.member.name, member_path(mdg.member) %></td>
                    <% if mdg.member.cellGroup.nil? %>
                        <td>No Cell Group</td>
                    <% else %>
                        <td><%= link_to mdg.member.cellGroup.name, cell_group_path(mdg.member.cellGroup) %></td>
                    <% end %>
                    <td><%= mdg.member.truncate_gender %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
<br>
<br>