<div class="row">
    <h2 class="col s6">large group <%=@large_group.session_number%></h2>
    <i class="shuffle right medium material-icons">   
        <%= link_to('shuffle', shuffle_path) %>
    </i>
    <i class="reset right medium material-icons"> 
        <%= link_to('autorenew', reset_path) %>
    </i>
    <div class="nicer right ">
        <%= @large_group.date.strftime("%m/%d") %>
    </div>
    <br><br>
</div>

<% @discussion_groups.each do |dg| %>
    <table class="highlight">
        <thead>
            <tr>
                <th colspan="3"><%= dg.name %>'s Discussion Group</th>
                <th>
                    Attendance
                    <i class="right material-icons">
                        <%= link_to('edit', add_or_reassign_path(dg), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '.modal-window'}) %>
                    </i>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Leader's row -->
            <tr>
                <td><%= link_to dg.leader.name, member_path(dg.leader) %></td>
                <td><%= link_to dg.leader.cellGroup.name, cell_group_path(dg.leader.cellGroup) %></td>
                <td><%= dg.leader.truncate_gender %></td>
                <td><%= best_in_place MemberDg.where(member: dg.leader).first, :attended, as: :checkbox, class: 'attend', :collection => {false: "<i class='material-icons'>check_box_outline_blank</i>".html_safe, true: "<i class='material-icons'>check_box</i>".html_safe} %></td>
            </tr>
            <!-- Members' row -->
            <% MemberDg.where.not(member: dg.leader).select{|m| m.discussionGroup == dg}.each do |mdg| %>
                <tr>
                    <td><%= link_to mdg.member.name, member_path(mdg.member) %></td>
                    <% if mdg.member.cellGroup.nil? %>
                        <td>No Cell Group</td>
                    <% else %>
                        <td><%= link_to mdg.member.cellGroup.name, cell_group_path(mdg.member.cellGroup) %></td>
                    <% end %>
                    <td><%= mdg.member.truncate_gender %></td>
                    <td><%= best_in_place mdg, :attended, as: :checkbox, class: 'attend', :collection => {false: "<i class='material-icons'>check_box_outline_blank</i>".html_safe, true: "<i class='material-icons'>check_box</i>".html_safe} %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <br>
<% end %>
<br>
<br>

<div class="modal-window"></div>