<div class="modal-content">
    <i class="close right material-icons">close</i>
    <h3>edit a cell group</h3><br>

    <%= simple_form_for(@cell_group) do |f| %>
        <!-- No longer works because using jquery <%= f.error_notification %> -->
        <div class="row">
            <div class="form-inputs">
                <%= f.input :name %>
                <%= f.collection_radio_buttons :gender, [["Male", "Male"] ,["Female", "Female"]], :first, :last, label: true  %>
            </div>
        </div>
        <div class="row">
            <div class="form-actions col s8">
                <%= f.button :submit %>
            </div>
        </div>
    <% end %>
</div>

