<div class="row">
    <h2 class="col s6">cell groups</h2>
    <div id="create_cg_button"><i class="add right medium material-icons"><%= link_to('add_circle', new_cell_group_path, remote: true) %></i></div>
    <br><br>
</div>

<table class="highlight">
<thead>
    <tr>
    <th>Group Name</th>
    <th>Leader</th>
    <th>Gender</th>
    <th colspan="2"></th>
    </tr>
</thead>

<tbody>
    <% @cell_groups.each do |cell_group| %>
    <tr>
        <td><%= link_to cell_group.name, cell_group_path(cell_group) %></td>
        <td>
            <% if cell_group.leader.nil? %>
                No Leader
            <% else %>
                <%= link_to cell_group.leader.name, member_path(cell_group.leader) %>
            <% end %>
        </td>
        <td><%= cell_group.gender %></td>
        <td><i class="material-icons"><%= link_to('edit', edit_cell_group_path(cell_group))%></i></td>
        <td><%= link_to(cell_group_path(cell_group), method: :delete, data: {confirm: 'Are you sure you wish to delete this cell_group?'}) do %>
            <i class="material-icons">delete</i>
        <% end %></td>
    </tr>
    <% end %>
    <tr>
        
    </tr>
</tbody>

</table>
<br>
<br>

<!-- Overlay effect -->
<div id="overlay_box">
    <i class="close right material-icons">close</i>
    <%= render "form" %>
</div>
